body {
  background: $color-p-1;
  color: $color-p-2;
}

.container {
  margin: 2rem auto;
  max-width:600px;
}

.article {
  height:600px;
  width:100%;
}

.sea {
  -webkit-animation: sea-anim 10s infinite linear;
}

.clouds {
  -webkit-animation: clouds-anim 15s infinite linear;
}

@-webkit-keyframes sea-anim {
  0%   { -webkit-transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(-242.64px, 0, 0); }
}

@-webkit-keyframes clouds-anim {
  0%   { -webkit-transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(-100%, 0, 0); }
}